@model F1_Manager.Models.Group

@{
    ViewBag.Title = "Index";
    TempData["groupid"] = TempData["group"];
}

<h2>@Model.GroupName</h2>
<br />

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Points
        </th>
    </tr>

    @foreach (var item in Model.GroupUserList)
    {
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.Points
            </td>
        </tr>
    }
</table>
<br />
<div>@Html.ActionLink("Add User to group", "AddUser")</div>

